.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  &__display {
    width: 80px;
    height: 22px;
    border: 1px solid rgba(64,64,64,0.65);
    border-radius: 11px;
    line-height: 20px;

  }
  &__list {
    &-item {
      cursor: pointer;
    }
  }
}


.gnb {
  &__list {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    &-item {
      flex: 1;
      text-align: center;
      font-size: 15px;
      letter-spacing: -0.04em;
      color: #404040;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: inherit;
      }
      &--abnormal {
        .login {
          display:inline-block;
          width: 70px;
          height: 22px;
          background-color: #404040;
          text-align: center;
          border-radius: 11px;
          color: #fff;
          line-height: 22px;
          font-size:14px;
          vertical-align:middle;
        }
      }
    }

  }

}